# OS
.DS_Store
Thumbs.db

.idea/
.vscode/
*.swp
*.swo

.env*
!.env.example

# TS
node_modules/
*.log
*.tsbuildinfo
dist/
.cache/

# Python
__pycache__/
*.py[cod]
.venv/
venv/
*.egg-info/

.pytest_cache/
htmlcov/
.coverage
coverage.xml

.mypy_cache/

.ipynb_checkpoints/